#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gameContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.gameHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.cell{
  border-radius: 50%;
  border: 2px solid #ccc;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.cellAlive{
  border-radius: 50%;
  background-color: #42aff2;
  border: 2px solid #ccc;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.cellRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.range{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}

.range span{
  color: rgb(25, 117, 255);
  font-weight: bold;
}